@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-pink: #D44757;
  --primary-purple: #484395;
  --gradient-start: hsl(244 38% 42%);
  --gradient-end: hsl(353 62% 55%);
  --gradient: linear-gradient(to right, var(--gradient-start), var(--gradient-end))
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A192C;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
